*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgba(33, 37, 41, 1);
}
#section{
    border: 2x solid red;
    height: 98vh;
    width: 98vw;
    background-color: rgba(33, 37, 41, 1);
    display: flex;
    flex-direction: row;
}
#form{
    width: 50vw;
    height: 98vh;
}
#output-section{
    width: 50vw;
    height: 104vh;
    background-color: black;
    border:  2px solid black;
    border-radius: 0.5rem;
    color: wheat;
    border: 1px solid white;
    padding: 1rem;
}
#buttons{
    display: flex;
    flex-direction: row;  
}
#Usertext{
    height: 98vh;
    background-color: black;
    color: aqua;
}
#language{
    background-color: black;
    color: white;
}
#output{
    color:  white;
}
.navbar{
    border: 1px solid white;
}